@charset "utf-8";
/****** reset 基本样式重置 strat ******/
/* 清除内外边距 ---------- */
.md { padding: 0 20px; margin-bottom: 60px; }
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, lengend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.md h1 { font-size: 32px; line-height: 48px; }
.md h2 { font-size: 24px; line-height: 36px; margin-top: 20px; padding-top: 70px; margin-left: -20px; padding-left: 20px; position: relative; }
.md h3 { font-size: 20px; line-height: 30px; }
.md h4 { font-size: 16px; line-height: 24px; margin-bottom: 10px; }
.md h1,.md h2,.md h3 { font-weight: 600; margin-bottom: 20px; color: #2c3e50; }
.md p { font-size: 16px;color: #2c3e50; line-height: 28px; margin-bottom: 10px; }
.md a { color: #3eaf7c; cursor: pointer;}
.md h2 a { font-size: 18px; color: transparent; cursor: pointer; position: absolute; left: 4px; top: 70px; }
.md h2 a:hover { text-decoration: underline; }
.md h2:hover a { color: #3eaf7c; }
.md a:hover { text-decoration: underline;}
.md li { padding-left: 20px; position: relative; line-height: 24px; }
.md li:before { position: absolute; top: 8px; left: 0; content: ""; width: 6px; height: 6px; border-radius: 50%; background-color: #2c3e50; }
.md .yellow { padding: 10px; background-color: rgba(255,229,100,.3); border-left: 8px solid #e7c000;}
.md .green { padding: 10px; background-color: #f3f5f7; border-left: 8px solid #42b983;}
.md .green h4 {font-weight: 600;}
.md .yellow p { color: #6b5900; font-style: 16px; }
.md .yellow h4 { color: #b29400; font-style: 16px; font-weight: 600; }
.md pre {background-color: #282c34; border-radius: 6px; line-height: 20px; font-size: 12px;}
.md table { border-collapse: collapse; }
.md th, .md td { line-height: 32px; border: 1px solid #dfe2e5; padding: 2px 4px; text-align: center; color: #476582; min-width: 180px; }
.md .mb_70 { margin-bottom: -70px; }